body {
    background-color:#dddcd737;
}

#navbar {
    height: 80px;
}

#navbar-links {
    height : 80px !important;
    font-weight: 600;
    color: black;
}

#navbar-logo {
    border-radius: 10px;
    width:80px;
    height :80px
}

#hero-logo {
    width: 300px;
    height: 300px
}

.parallax {
    bottom :unset !important;
}

.parallax-container {
    height:600px;
}

#parallax-pic-1 {
    bottom: -280px;
}
