:root {
    --black: #212121;
    --white: #ffffff;
    --green: #66CDAA;
}

body {
    margin-block: 2rem;
    margin-inline: 4rem;
    font-family: Inter, sans serif;
    background-color: var(--green);
}


* {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
}

header {
    height:auto;
    width: 100%;

}

header nav {
    padding-block : 1.5rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-banner img {
    width: 4rem;
    height: auto;
    border-radius: 50px;
    &:hover {
        transform: scale(2.5) translateX(1.2em) translateY(1.2em);
        transition: 0.4s ease-in-out;
    }
}

.hero-banner {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    border-radius: 20px 20px 0 0;
    color: var(--white);
    background-color: var(--black);
}

.links {
    display: flex;
    justify-content: space-around;
    width:5rem;
    color :var(--black);
    background-color: var(--green);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 25px;
    text-decoration: none;
    padding: 0.6rem;
    &:hover {
        background-color: var(--black);
        border-color: var(--green);
        transform:scale(1.13);
        transition: transform 450ms, background-color 300ms, color 300ms;
        transition-delay: 0ms, 150ms, 150ms;
        color: var(--white);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 2rem;
}

.hero-box {
    height: inherit;
    display: flex;
    align-items:center;
    text-align: center;
    margin-inline: auto;
}

.hero-container h1 {
    text-align: center;
}

.hero-box p {
    font-size: 1.6rem;
}

.photo-mobile-container {
    display: none;
}

.hero-links-container ul {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.hero-links-container a {
    color:var(--white);
    text-decoration: none;
    &:hover {
        color: var(--green);
    }
}

.projects-container {
    padding: 2rem;
    background-color: var(--white);
}

.projects-container h2 {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

.project {
    display: flex;
    justify-content: space-between;
    padding-block: 3rem;
}

.project img {
    width:30%;
    height: 70%;
}

.project p {
    display: flex;
    align-items: center;
    text-align: left;
    text-wrap: balance;
    width: 60%;
}

.project-middle {
    flex-direction: row-reverse;
    border-block: 1px solid var(--black);
}

.soft-skills-container {
    padding: 2rem;
    color: var(--white);
    background-color: var(--black);
}

.soft-skills-head {
    display: flex;
    justify-content: space-around;
}

.soft-skills-container-box {
    width: 33%;
    margin-block: 2rem;
    text-align: center
}

.soft-skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.soft-skills-content h3 {
    margin-block: 0.8rem;
}

.soft-skills-content p {
    padding: 0.6rem;
}

.soft-skills-content img {
    display: flex;
    margin-inline: auto;
    width: 40px;
    height: 40px;
}

.hard-skills-container {
    color: var(--white);
    background-color: var(--black);
}

.hard-skills-container img {
    width: 50px;
    height: 50px;
}

.hard-skills-container p {
    font-size: 2rem;
}

.hard-skills-content {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-inline: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.hard-skills-box {
    width: 20rem;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--white);
}

.hard-skills-box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--black);
}

.hard-skills-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-inline: auto;
    padding-block: 1rem;
}

.education-container {
    padding: 2rem;
    background-color: var(--white);
}

.education-container h2 {
    text-align : center;
    padding-block: 2rem;
}

.education-container ul {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 70%;
    list-style: inside;
}

.education-container li {
    padding-block: 1.2rem
}

.about-container {
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: var(--white);
}

.about-container h2 {
    text-align : center;
    padding-block: 2rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 70%;
}

.contact-container {
    padding-block: 2rem;
    padding-inline: 6rem;
    color: var(--white);
    background-color: var(--black);
}

.contact-links {
    display : flex;
    justify-content: space-between;
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: space-around;
    color :var(--white);
    background-color: var(--black);
    border-radius: 0 0 20px 20px;
}

.signature {
    display: flex;
    align-items: center;
}

.phone-box {
    padding-block: 2rem;
}


details {
    margin-block: 1rem;
    padding: 1rem;
    transition: all 0.6s ease-in-out;
    max-height: 60px;
    overflow: hidden;
    border-radius: 5px;
    border: var(--black) 1px solid;
}

details summary {
    text-align: left;
    outline: none;
    cursor: pointer;
}

details[open] {
    max-height: 500px;
    background-color: #e8e8e8;
}

details[open] summary {
    text-align: left;
    padding-bottom: 1rem;
}

details a {
    border:0;
    border-radius: 0;
    letter-spacing:normal;
    color: var(--black);
    text-decoration: underline;
    box-shadow: none;
    padding: 0;
}

details a:hover {
    color: inherit;
    background-color: inherit;
    transition: none;

}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 50px;
    height: 50px;
}

.mobile-contact-container {
    display: none;
}

.mobile-hard-skill-container {
    display: none;
}



/* ANIMATIONS */

.checkbox {
    display: none;
}

.label-container {
    width: 100%;
    background-color: var(--black);
}

.label-container label {
    margin-inline: auto;
}



@media screen and (max-width: 1200px) {

    body {
        margin-block: 1rem;
        margin-inline: 2rem;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    .photo-mobile-container {
        display: none;
    }

    .hero-box p{
        font-size: 1.4rem;
    }

    .soft-skills-content p {
    padding: 0;;
    }

    .about-content {
        max-width: 90%;
    }

    .contact-container {
        padding-block: 1rem;
    }

    .phone-box {
        padding-block: 1rem;
    }

}


@media screen and (max-width: 800px) {

    body {
        margin-block: 0;
        margin-inline: 0;
        background-color: var(--black);
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
    }

    .hero-banner {
        display: flex;
        flex-direction: column-reverse;
        border: 0;
        border-radius: 0;
    }

    header {
        display: none;
    }

    .photo-mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .hero-banner img {
        width: auto;
        height: 35vh;
        border-radius: 50px;
    }

    .contact-container {
        padding-block: 1rem;
        padding-inline: 0;
    }

    .hero-container {
        padding: 0;
        padding-block: 2rem;
        padding-inline: 1rem;
        height: 45vh;
    }

    span {
        color: var(--green)
    }

    .hero-container h1 {
        text-align: left;
        text-wrap: balance; 
    }

    .hero-box {
        text-align: left;
        align-items: end;
    }

    .hero-box p {
        font-size: 1.2rem;
    }

    .hero-links-container ul {
        padding: 0;
    }

    .hero-links-container a {
        font-size: 0.8rem;
        padding: 0.8rem;
    }

    .projects-container {
        padding:0; 
    }

    .projects-container {
        padding: 1rem;
    }
    
    .projects-container h2 {
        text-align: center;;
        padding: 0;
    }

    .project {
        display: block;
        padding-block: 2rem;
    }

    .project img {
        width: 100%;
        height: auto;
        padding-block: 1rem;
    }

    .project p {
        width: 100%;
    }

    .soft-skills-container {
        padding: 0;
    }
    
    .soft-skills-head {
        width: 100%;
        padding-block: 1rem;
        margin-inline: 0;
        color: var(--black);
        background-color: var(--green);
    }

    .soft-skills-head h2 {
        text-align: center;
    }

    .soft-skills-container-box {
        margin-block: 1rem;
        width: 50%;
    }

    .soft-skills-container-box p {
        display: none;
    }

    .soft-skills-container-box h3 {
        font-size: 1.2rem;
    }

    .education-container {
        padding: 1rem;
    }

    .education-container ul {
        max-width: 100%;
    }

    .about-container {
        padding: 1rem;
    }

    .about-container h2 {
        padding-top: 0;
    }

    .about-content {
        max-width: 100%;
    }   

    .mobile-contact-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-inline: auto;
    }

    .mobile-contact-container span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black);
    }

    .mobile-contact-container a {
        display: flex;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 5px;
        border: 0;
        background-color: var(--green);
        color: var(--white);
        text-decoration: none;
    }

    .footer {
        width: 90%;
        margin-block: auto;
    }

    .mobile-hard-skill-container {
        display: block;
    }

    .mobile-hard-skill-container h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: var(--green);
    }

    .mobile-hard-skill-content {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        color: var(--white);
    }

    .mobile-hard-skill-box {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        width: 50%;
    }

    .mobile-hard-skill-box ul {
        list-style:square;
        padding-block: 1rem;
    }

    .mobile-hard-skill-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-hard-skill-list li {
        padding: 0.4rem;
    }


    .contact-links {
        display : none;
    }

    .hard-skills-container {
        display: none;
    }
}